.block6{
  padding: 0 10px;
  background: #fff;

  .reviews{
    .elem{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      margin-bottom: 32px;
      font: medium normal 12.5px / 1.333 "Montserrat", sans-serif;
      color: #000;
      .avatar{
        flex-basis: 20%;
        img{
          max-width: 100%;
        }
      }
      .userdata{
        flex-basis: 40%;
        .name{
          font: 700 normal 16.667px / 1.641 "Montserrat", sans-serif;
          margin: 0;
        }
        .age{
          font: 700 normal 12.5px / 1.2 "Montserrat", sans-serif;
          color: rgb(118, 118, 117);
          margin: 0;
        }
      }
      .meta{
        flex-basis: 40%;
        text-align: right;
        .stars{
          .user-rating {
              direction: rtl;
              font-size: 20px;
              unicode-bidi: bidi-override;
              display: inline-block;
              text-align: right;
              input {
                  opacity: 0;
                  position: relative;
                  left: -15px;
                  z-index: 2;
                  &:hover {
                    & + span.star{
                      &:before, & ~ span.star:before{
                        color: #ffd100;
                        content:"\2605";
                      }
                    }
                  }
                  &:checked {
                    & + span.star{
                      &:before, & ~ span.star:before{
                        color: #ffd100;
                        content:"\2605";
                      }
                    }
                  }

              }
              span {
                  margin-right: -15px;
                  &.star {
                      display: inline-block;
                      font-style: normal;
                      font-weight: normal;
                      position: relative;
                      z-index: 1;
                      &:before {
                          color: #777777;
                          content:"ï€†";
                          /*padding-right: 5px;*/
                      }
                      &:before {
                          color: #777777;
                          content:"\2605";
                          /*padding-right: 5px;*/
                      }
                  }
              }
          }
        }
      }
      .review-text{
        margin-top: 18px;
        flex-basis: 100%;
        color: rgb(28, 28, 28);
        text-align: left;

      }

    }
  }

}