.block1{
  .discount{
    display: block;
    position: absolute;
    top: 32px;
    right: 0;
    // padding: 78px 35px;
    width: 190px;
    height: 140px;
    background: url(./../assets/discournt-bg.png) center / cover no-repeat;
    .value{
      font: 900 normal 46px / 1 "Montserrat", sans-serif;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &>img{
    margin-bottom: -5px;
  }

  .title{
    background: #fff;
  }

  h3{
    font: 900 normal 23.436px / 1.167 "Montserrat", sans-serif;
    color: rgb(207, 189, 122);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 31px 0 37px;
  }
  .subtitle{
    display: inline-block;
    margin-top: 12px;
    font: 100 normal 20.83px / 1 "Montserrat", sans-serif;
    color: #3d3e3e;
    text-transform: none;
  }

  .priceblock{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #3c3c3c;
    color: #fff;

    height: 58px;
    font: 400 normal 13px / 1.2 "Montserrat", sans-serif;
    color: #fff;
    .oldprice,.newprice{
      text-align: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .oldprice{
      flex-basis: 48%;
      .line-through{
        &:before{
          background: #fff;
        }
      }
    }
    .newprice{
      height: 58px;
      color: #000;
      flex-basis: 52%;
      background: #f9e496;
      -webkit-clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .number{
      font-weight: 900;
      font-size: 21px;
      margin-left: 5px;
    }
    .line-through{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        left:0;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        height: 2px;
      }
    }
  }
  .product-advantages{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 42px 0 30px;
    .el{
      flex-basis: 30%;
      padding: 0 20px;
      text-align: center;
      img{
        display: block;
        margin: 0 auto 20px;
      }
    }
  }
}