.block5{
  padding: 0 20px;
  margin: 22px auto 75px;
  // video, .video-js{
  //   max-width: 100%;
  //   width: 100%;
  // }
  .video-js, .video{
    max-width: 100%;
    width: 100%;
    height: 508px;
  }
  .video-js{
    .vjs-tech{
      position: relative;
    }
  }

  .button{
    &-wrapper{
      margin: 20px auto 0;
      width: 344px;
      max-width: 100%;
    }
  }
}