.block2{
  padding-top: 24px;
  padding-bottom: 42px;
  .hightime{
    font: 700 normal 16.667px / 1 "Montserrat", sans-serif;
    text-align: center;

  }

  .timer-wrapper{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    margin: 17px auto 52px;

    .hours,.minutes{
      padding-right: 34px;
      position: relative;
      &:after{
        content: ':';
        position: absolute;
        font: 700 normal 41.667px / 67px "Montserrat", sans-serif;
        right: 10px;
        top: 0;
      }
    }

    .digit{
      font: 700 normal 41.667px / 67px "Montserrat", sans-serif;
      width: 55px;
      background: #f9e496;
      display: block;
      float: left;
      margin-right: 3px;
      text-align: center;
      border-radius: 10px;
      &:last-of-type{
        margin-right: 0;
      }
    }

    .desc{
      font: 400 normal 12.5px / 1.333 "Montserrat", sans-serif;
      color: #000;
      text-align: center;
      margin-top: 8px;

    }
  }

  .products-left{
    text-align: center;
    font: 700 normal 21px / 1.312 "Montserrat", sans-serif;
    .highlight{
      font: 700 normal 37.5px / 27px "Montserrat", sans-serif;
      color: #dfcc87;
    }

  }
}