.block4{
  .slider{
    width: 380px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  .slider{
    position: relative;
    margin-bottom: 20px;
    .glide__arrow{
      outline: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      border:none;
      font-size: 30px;
      height: 37px;
      border-radius: 150px;
      background-image: -moz-linear-gradient( 50deg, rgb(49,48,48) 0%, rgb(79,78,78) 100%);
      background-image: -webkit-linear-gradient( 50deg, rgb(49,48,48) 0%, rgb(79,78,78) 100%);
      background-image: -ms-linear-gradient( 50deg, rgb(49,48,48) 0%, rgb(79,78,78) 100%);
      background-image: linear-gradient( 50deg, rgb(49,48,48) 0%, rgb(79,78,78) 100%);
      color: #f9e496;
      z-index: 2;
      width: 37px;
      span{
        position: relative;
        top: -2px;
      }

      &--left{
        left: 0;
        transform: translate(-50%, -50%);
      }
      &--right{
        right: 0;
        transform: translate(50%, -50%);
      }

      @media screen and (max-width: 410px) {
        &--left{
          left: 40px;
        }
        &--right{
          right: 40px;
        }
      }
    }
  }
}