.block3{
  .content-wrapper{
    padding: 45px 27px;
    p{
      font: 300 normal 16.667px / 1.641 "Montserrat", sans-serif;
      color: rgb(43, 43, 43);
      text-align: left;
    }
  }
  .title{
    font: 700 normal 16.667px / 1 "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .sizeTable{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-left: 13px solid #fff;
    border-right: 13px solid #fff;
    font: 700 normal 16.667px / 1.2 "Montserrat", sans-serif;
    thead{
      background: #fff;
      font: 700 normal 16.667px / 75px "Montserrat", sans-serif;
    }
    tbody{
      background: #2c2c2c;
      background: -moz-linear-gradient(top, #2c2c2c 0%, #292929 100%);
      background: -webkit-linear-gradient(top, #2c2c2c 0%,#292929 100%);
      background: linear-gradient(to bottom, #2c2c2c 0%,#292929 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#292929',GradientType=0 );
      border: 13px solid #2c2c2c;
      tr{
        &.outofstock{
          td:first-of-type{
            position: relative;
            &:before{
              content: '';
            	left: 0;
            	right: -279%;
            	top: 50%;
            	transform: translate(0, -50%);
            	height: 2px;
            	background: #fff;
            }
            &:after{
              content: 'Закончился';
              background: #eb2457;
              color: #fff;
              font: 700 normal 12.5px / 2.187 "Montserrat", sans-serif;
              transform: rotate(-4deg);
            	padding: 0 31px;
            	right: -240%;
            }
            &:before, &:after{
              // display: block;
              position: absolute;
            }
          }

        }
      }
      th, td{
        color: #fff;
        line-height: 37px;
        border: 2px solid #fff;
      }
      td{
        &:first-of-type{
          color: #f9e496;
        }
        &:last-of-type{
          padding-right: 19px;
          text-align: right;
        }
      }
    }
  }
  .addData{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font: 700 normal 16.667px / 1.2 "Montserrat", sans-serif;
    tbody{
      background: #383838;
      border-top: 4px solid #fff;
      border-bottom: 4px solid #fff;
      tr{
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
      }
      td{
        height: 74px;
        box-sizing: content-box;
        // padding: 16px;
        &:first-of-type{
          padding-left: 28px;
          color: #f9e496;
        }
        &:last-of-type{
          color: #fff;
          padding-right: 28px;
          text-align: right;
        }
      }
    }

  }

}