.block7{
  margin-top: 32px;
  .orderFaq{
    &-wrapper{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      .elem{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background: url(./../assets/delivery-elem-bg.jpg) center / cover no-repeat;
        position: relative;
        margin-bottom: 5px;
        overflow: visible;
        &.last{
          margin-bottom: 0;
        }
        .desc{
          flex-basis: 48%;
          padding-left: 26px;
          .title{
            font: 700 normal 16.667px / 1.2 "Montserrat", sans-serif;
            text-transform: uppercase;
            margin: 0;
          }
          .subttl{
            font: 400 normal 16.667px / 1 "Montserrat", sans-serif;
            color: rgb(140, 139, 139);
            padding-right: 15px;
          	display: block;
          }
        }
        .image{
          flex-basis: 52%;
          background-color: rgba(59, 59, 59, .65);
          -webkit-clip-path: polygon(9% 0%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(9% 0%, 100% 0, 100% 100%, 0% 100%);
          padding-right: 10px;
          position: relative;
          padding-bottom: 131px;
          overflow: visible;
        }
        .decor{
          position: absolute;
          left: 10px;
        	bottom: 90%;
        }
        .icon{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          background: #e7d193;
          padding: 10px 23px;
          img{
            max-width: 75px;
          }
        }
        &.odd{
          flex-direction: row-reverse;
          .desc{
            padding-left: 0;
            padding-right: 26px;
            text-align: right;
            .subttl{
              padding-right: 0;
              padding-left: 15px;
            }
          }
          .image{
            -webkit-clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
          }
          .decor{
            right: 10px;
            left: auto;
          }
        }
        &:nth-of-type(2){
          .decor{
            @media screen and (max-width:420px) {
            	top: -85%;
              max-width: 250px;
            }
            @media screen and (max-width:390px) {
              max-width: 200px;
            }
            @media screen and (max-width:370px) {
              max-width: 150px;
            }
          }
        }
        &:nth-of-type(3){
          .decor{
            @media screen and (max-width:370px) {
              max-width: 150px;
            }
          }
        }
        &:nth-of-type(4){
          .decor{
            right: 30px;
            @media screen and (max-width:370px) {
              right: 10%;
              max-width: 130px;
              transform: translate(0, -20%);
            }
          }
        }
        &:nth-of-type(5){
          .decor{
            left: 50px;
            @media screen and (max-width:370px) {
            	left: 15%;
              max-width: 50px;
            }
          }
        }
      }
    }

  }
}