.header{
  background: url(./../assets/headerBG.jpg) center / cover no-repeat;
  h1 {
    font: 900 normal 36.227px / 1 "Montserrat", sans-serif;
    color: rgb(249, 228, 150);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 60px 0 50px;
    margin: 0;
  }
}