@media screen and (max-width:435px) {
  .block1 .priceblock .oldprice, .block1 .priceblock .newprice{
    padding-left: 20px;
  }
}
@media screen and (max-width:420px) {
  .block2 .timer-wrapper .digit {
  	font: 700 normal 27.667px / 54px "Montserrat", sans-serif;
  	width: 33px;
  }
}

@media screen and (max-width:400px) {
  .header h1{
    font-size: 28px;
  }

  .block1 .product-advantages .el{
    padding: 0;
  }

  .block1 .priceblock .number{
    font-size: 14px;
  }
}

@media screen and (max-width:370px) {
  .block1 .priceblock{
    .newprice{
      padding-right: 10px;
    }
    .oldprice{
      padding-left: 10px;
    }
  }
  // .block7 .orderFaq-wrapper .elem{
  //   :nth-of-type(4) .decor {
  //   	right: 20%;
  //     max-width: 50px;
  //   }
  //   :nth-of-type(5) .decor {
  //   	left: 20%;
  //     max-width: 50px;
  //   }
  // }
}
