<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,initial-scale=1.0">
    <title>Купить вечернее платье с объемными розами. Легкое платье с розами</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Купить вечернее платье с объемными розами. Легкое платье с розами">
    <meta name="Description" content="Эксклюзивное предложение, скидка на вечернее платье с сияющими объемными розами (новое, оригинал). Новая коллекция ТМ Enigma, собственное производство с использованием материалов высокого европейского качества"/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Купить вечернее платье с объемными розами. Легкое платье с розами" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://enigma-elit.com" />
    <meta property="og:image" content="<%= require('./src/assets/logo-1463724445.jpg') %>" />
    <meta property="og:description" content="Эксклюзивное предложение, скидка на вечернее платье с сияющими объемными розами (новое, оригинал). Новая коллекция ТМ Enigma, собственное производство с использованием материалов высокого европейского качества" />
    <!-- Mobile header color for MS browsers -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="<%= require('./src/assets/favicon.ico') %>" />
		<link rel="shortcut icon" type="image/x-icon" href="<%= require('./src/assets/favicon.ico') %>" />
    <meta name="msapplication-TileColor" content="#02a">
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#02a">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#02a">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body class="wrapper">
  <section class="header">
    <h1>Эксклюзивные платья 2019</h1>
  </section>
  <section class="block block1">
    <img src="<%= require('./src/assets/header-product-image.jpg') %>" alt="main product image">
    <div class="discount"><span class="value">-30%</span></div>
    <div class="product-description">
      <div class="title">
        <h3>
          Платье вечернее
          <span class="subtitle">с сияющими объемными розами</span>
        </h3>
      </div>
      <div class="priceblock">
        <div class="oldprice">
          Обычная цена:
          <span class="number line-through">3900грн</span>
        </div>
        <div class="newprice">
          Цена сегодня:
          <span class="number current">2730грн</span>
        </div>
      </div>
      <div class="product-advantages">
        <div class="el">
          <img src="<%= require('./src/assets/advantage-1.png') %>" alt="Комфортное в носке">
          <div class="descr">Комфортное в носке</div>
        </div>
        <div class="el">
          <img src="<%= require('./src/assets/advantage-2.png') %>" alt="Высочайшее качество">
          <div class="descr">Высочайшее качество</div>
        </div>
        <div class="el">
          <img src="<%= require('./src/assets/advantage-3.png') %>" alt="Идеальный пошив">
          <div class="descr">Идеальный пошив</div>
        </div>
      </div>
    </div>
  </section>
  <section class="block divider">
    <img src="<%= require('./src/assets/divider.png') %>" alt="">
  </section>
  <section class="block block2">
    <div class="timer">
      <div class="hightime">Поторопитесь! Предложение действует:</div>
      <div class="timer-wrapper js-timer">
        <div class="hours">
          <span class="digit">2</span>
          <span class="digit">3</span>
          <div class="desc">часов</div>
        </div>
        <div class="minutes">
          <span class="digit">5</span>
          <span class="digit">9</span>
          <div class="desc">минут</div>
        </div>
        <div class="seconds">
          <span class="digit">5</span>
          <span class="digit">9</span>
          <div class="desc">секунд</div>
        </div>
      </div>
    </div>
    <div class="products-left">
      Осталось <span class="highlight">23</span> платья по акции<br>
      Закажи прямо сейчас!
    </div>
    <div class="form">
      <form id="first" action="/php/mail.php">
        <div class="input-wrapper">
          <input type="text" name="name" class="name" placeholder="Введите ваше имя">
        </div>
        <div class="input-wrapper">
          <input type="tel" name="phone" class="phone" placeholder="Введите ваш телефон">
        </div>
        <div class="input-wrapper">
          <button type="submit" class="button">Узнать подробнее</button>
        </div>
      </form>
    </div>
  </section>
  <section class="block divider">
    <img src="<%= require('./src/assets/divider.png') %>" alt="">
  </section>
  <section class="block block3">
    <div class="content-wrapper">
      <h3 class="title">ВЫБЕРИ СВОЙ РАЗМЕР</h3>
      <p>Нежное, воздушное платье с сияющими объемными розами – наряд для настоящей принцессы, который не оставит равнодушной ни одну девушку!</p>
      <p>Модель выполнена из органзы с жаккардовыми объемными розами. Эксклюзивная ткань, изготовленная специально на заказ для компании Enigma, делает это платье еще более восхитительным.</p>
    </div>
    <div class="sizeTable-wrapper">
      <table class="sizeTable">
        <thead>
          <tr>
            <th>Размер</th>
            <th>Грудь</th>
            <th>Талия</th>
            <th>Бедра</th>
          </tr>
        </thead>
        <tbody>
          <tr class="outofstock">
            <td>34</td>
            <td>80-82</td>
            <td>62-64</td>
            <td>88-90</td>
          </tr>
          <tr>
            <td>36</td>
            <td>84-86</td>
            <td>66-68</td>
            <td>92-94</td>
          </tr>
          <tr>
            <td>38</td>
            <td>88-90</td>
            <td>70-72</td>
            <td>98-100</td>
          </tr>
          <tr>
            <td>40</td>
            <td>92-94</td>
            <td>74-76</td>
            <td>102-104</td>
          </tr>
        </tbody>
      </table>
      <table class="addData">
        <tbody>
          <tr>
            <td>Материал:</td>
            <td>Органза</td>
          </tr>
          <tr>
            <td>Состав:</td>
            <td>Коттон 40%, шелк 30%, полиамид 28%, эластин </td>
          </tr>
          <tr>
            <td>Растяжимость:</td>
            <td>Средняя</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="block block4">
    <div class="slider glide js-slider">
      <button class="glide__arrow glide__arrow--left"><span class="js-sliderArrow" data-glide-dir="<">«</span></button>
      <div data-glide-el="track" class="glide__track">
        <ul class="glide__slides">
          <li class="glide__slide"><img src="https://via.placeholder.com/380x495" data-lazy="<%= require('./src/assets/slide1.jpg') %>" alt=""></li>
          <li class="glide__slide"><img src="https://via.placeholder.com/380x495" data-lazy="<%= require('./src/assets/slide2.jpg') %>" alt=""></li>
          <li class="glide__slide"><img src="https://via.placeholder.com/380x495" data-lazy="<%= require('./src/assets/slide3.jpg') %>" alt=""></li>
        </ul>
      </div>
      <button class="glide__arrow glide__arrow--right"><span class="js-sliderArrow" data-glide-dir=">">»</span></button>
    </div>
  </section>
  <section class="block divider">
    <img src="<%= require('./src/assets/divider.png') %>" alt="">
  </section>
  <section class="block block5">
    <div data-id="mainVid" data-src="<%= require('./src/assets/video.mp4') %>" class="video js-video" data-preload="none" data-poster="<%= require('./src/assets/slide1.jpg') %>" data-controls></div>
    <div class="button-wrapper">
      <button class="button js-anchor" data-target=".footer">Оформить заказ</button>
    </div>
  </section>
  <section class="block block6">
    <div class="block-title decor">
      <h3>Отзывы покупателей</h3>
    </div>
    <div class="reviews">
      <div class="elem">
        <div class="avatar"><img src="<%= require('./src/assets/avatar1.jpg') %>" alt=""></div>
        <div class="userdata">
          <p class="name">Оксана</p>
          <p class="age">22 года</p>
        </div>
        <div class="meta">
          <div class="stars">
            <span class="user-rating">
              <input type="radio" name="rating1" value="5" disabled checked ><span class="star"></span>
              <input type="radio" name="rating1" value="4" disabled ><span class="star"></span>
              <input type="radio" name="rating1" value="3" disabled ><span class="star"></span>
              <input type="radio" name="rating1" value="2" disabled ><span class="star"></span>
              <input type="radio" name="rating1" value="1" disabled ><span class="star"></span>
            </span>
          </div>
          <datetime datetime="2019-03-15" class="date">15.03.2019</datetime>
        </div>
        <div class="review-text">Сегодня получила свою посылочку! Платье изумительное! Очень женственное,приятная ткань,отличный фасон! Все подошло идеально! Спасибо Вам от души! С огромным удовольствием буду еще совершать заказы в вашем магазине! </div>
      </div>
      <div class="elem">
        <div class="avatar"><img src="<%= require('./src/assets/avatar2.jpg') %>" alt=""></div>
        <div class="userdata">
          <p class="name">Виктория</p>
          <p class="age">23 года</p>
        </div>
        <div class="meta">
          <div class="stars">
            <span class="user-rating">
              <input type="radio" name="rating2" value="5" disabled checked><span class="star"></span>
              <input type="radio" name="rating2" value="4" disabled><span class="star"></span>
              <input type="radio" name="rating2" value="3" disabled><span class="star"></span>
              <input type="radio" name="rating2" value="2" disabled><span class="star"></span>
              <input type="radio" name="rating2" value="1" disabled><span class="star"></span>
            </span>
          </div>
          <datetime datetime="2019-03-15" class="date">15.03.2019</datetime>
        </div>
        <div class="review-text">Оно великолепно! Спасибо вам большое за такую работу с любовью! Качество просто нереальное!</div>
      </div>
    </div>
  </section>
  <section class="block block7">
    <div class="block-title">
      <h3>Как сделать заказ?</h3>
    </div>
    <div class="orderFaq-wrapper">
      <div class="elem">
        <div class="desc">
          <h4 class="title">Заявка</h4>
          <span class="subttl">Заполните форму на сайте</span>
        </div>
        <div class="icon"><img src="<%= require('./src/assets/orderFaq-icon-pencil.png') %>" alt=""></div>
        <div class="image"></div>
      </div>
      <div class="elem odd">
        <div class="desc">
          <h4 class="title">Звонок</h4>
          <span class="subttl">Наш менеджер перезвонит для уточнения деталей</span>
        </div>
        <div class="icon"><img src="<%= require('./src/assets/orderFaq-icon-phone.png') %>" alt=""></div>
        <div class="image"></div>
        <img src="<%= require('./src/assets/orderFaq-notebook.png') %>" alt="" class="decor">
      </div>
      <div class="elem">
        <div class="desc">
          <h4 class="title">Отправка</h4>
          <span class="subttl">Доставляем ваш товар в течение 1-3 дней</span>
        </div>
        <div class="icon"><img src="<%= require('./src/assets/orderFaq-icon-tg.png') %>" alt=""></div>
        <div class="image"></div>
        <img src="<%= require('./src/assets/orderFaq-phones.png') %>" alt="" class="decor">
      </div>
      <div class="elem odd">
        <div class="desc">
          <h4 class="title">Получение</h4>
          <span class="subttl">Оплачиваете при получении на Новой Почте</span>
        </div>
        <div class="icon"><img src="<%= require('./src/assets/orderFaq-icon-purse.png') %>" alt=""></div>
        <div class="image"></div>
        <img src="<%= require('./src/assets/orderFaq-novaposhta.png') %>" alt="" class="decor">
      </div>
      <div class="elem last">
        <img src="<%= require('./src/assets/orderFaq-dress.png') %>" alt="" class="decor">
      </div>
    </div>
  </section>
  <section class="header">
    <h1>Эксклюзивные платья 2019</h1>
  </section>
  <section class="block block1">
    <img src="<%= require('./src/assets/header-product-image.jpg') %>" alt="main product image">
    <div class="discount"><span class="value">-30%</span></div>
    <div class="product-description">
      <div class="title">
        <h3>
          Платье вечернее
          <span class="subtitle">с сияющими объемными розами</span>
        </h3>
      </div>
      <div class="priceblock">
        <div class="oldprice">
          Обычная цена:
          <span class="number line-through">3900грн</span>
        </div>
        <div class="newprice">
          Цена сегодня:
          <span class="number current">2730грн</span>
        </div>
      </div>
      <div class="product-advantages">
        <div class="el">
          <img src="<%= require('./src/assets/advantage-1.png') %>" alt="Комфортное в носке">
          <div class="descr">Комфортное в носке</div>
        </div>
        <div class="el">
          <img src="<%= require('./src/assets/advantage-2.png') %>" alt="Высочайшее качество">
          <div class="descr">Высочайшее качество</div>
        </div>
        <div class="el">
          <img src="<%= require('./src/assets/advantage-3.png') %>" alt="Идеальный пошив">
          <div class="descr">Идеальный пошив</div>
        </div>
      </div>
    </div>
  </section>
  <section class="block divider">
    <img src="<%= require('./src/assets/divider.png') %>" alt="">
  </section>
  <section class="block block2 footer">
    <div class="timer">
      <div class="hightime">Поторопитесь! Предложение действует:</div>
      <div class="timer-wrapper js-timer">
        <div class="hours">
          <span class="digit">2</span>
          <span class="digit">3</span>
          <div class="desc">часов</div>
        </div>
        <div class="minutes">
          <span class="digit">5</span>
          <span class="digit">9</span>
          <div class="desc">минут</div>
        </div>
        <div class="seconds">
          <span class="digit">5</span>
          <span class="digit">9</span>
          <div class="desc">секунд</div>
        </div>
      </div>
    </div>
    <div class="products-left">
      Осталось <span class="highlight">23</span> платья по акции<br>
      Закажи прямо сейчас!
    </div>
    <div class="form">
      <form id="second" action="/php/mail.php">
        <div class="input-wrapper">
          <input type="text" name="name" class="name" placeholder="Введите ваше имя">
        </div>
        <div class="input-wrapper">
          <input type="tel" name="phone" class="phone" placeholder="Введите ваш телефон">
        </div>
        <div class="input-wrapper">
          <button type="submit" class="button">Успей заказать</button>
        </div>
      </form>
    </div>
  </section>
  <script>
  window.addEventListener('load', function(){
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WDHWFGD');
  })
  </script>
  </script>
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDHWFGD" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1039367753118614&ev=PageView&noscript=1"/>
  </noscript>
</body>
</html>
